version: "3.9"

services:
  web:
    build: .
    command: gunicorn devops_project.wsgi:application --bind 0.0.0.0:8000 --workers 3
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - db
    networks:
      - devops_network

  db:
    image: postgres:16-alpine
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - devops_network

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web
    networks:
      - devops_network

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  devops_network:
    driver: bridge

